#containsAllDiv {
    width: 100%;
    max-width: 400px;
    margin: auto;


}


#imageDiv {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column-reverse;
}

#logInImage {
    width: 100%;

}

#divNextToImageDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#enterDetailsH3Tag {
    text-align: left;
}

#menuDiv {
    width: 100%;
}

#countryCodeWithMobileNumberDiv {
    display: flex;
    padding-left: 40px;
    align-items: center;
}

#countryCodeDiv {
    padding: 5px;
    display: flex;
    align-items: center;
    border-right: 1px solid #e0e0e0;
    padding-right: 20px;
}

#flagImage {
    width: 25px;
    height: 25px;
}

#enterMobileNumberSpan {
    color: #666;
    padding-left: 20px;
}

#divNextToCountryCodeAndMobileNumberDiv {
    width: 100%;
}

#continueWithEmailPTag {
    border-top: 1px solid #e0e0e0;
    text-align: left;
    color: #EB324B;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menuInputItems {
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background: transparent;
}

.menuInputItems:hover {
    background-color: none !important;
}

.menuInputItems:focus {
    outline: none;
}

#logInButton {
    width: 100%;
    box-sizing: border-box;
    background-color: #EB324B;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
}

#createNewAccountPTag {
    color: #EB324B;
    text-align: left;
}

#createNewAccountPTag:hover {
    text-decoration: underline;
}

#backgroundImage {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    right: -250px;
    z-index: -1;
}

.warningPTag {
    text-align: left;
    font-size: 10px;
    color: #EB324B;
    margin-bottom: 0px;
    display: none;
}


.form-group {
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 40px;
}

.register-form {
    width: 40%;
    margin: auto;
}

.form-title {
    text-align: center;
    color: white;
}

.signup {
    /* background-image: url("https://www.europeanroadandracing.com/images/share_bg.jpg"); */
    background-image: url("https://www.europeanroadandracing.com/images/share_bg.jpg");
    background-color: #cccccc;
    height: 745px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.signup input {
    color: white;
}


.logButton {
    background-color: #EB324B;
    color: aliceblue;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    margin-top: 20px;
    width: 100%;
    border-radius: 4px;
    font-weight: 600;

}

.form-group input {
    color: #e0e0e0;
}

.navs {
    color: #0e97e6;
    font-size: 18px;
    margin-left: 10%;
    font-weight: 600;
}

.err_msg {
    margin: auto;
    width: 200px;
    background-color: #2e2d2d;
    color: rgb(237, 237, 237);
    text-align: center;
    border: 1px rgb(226, 225, 225) solid;
    margin-top: 20px;
    font-size: 12px;
  
    padding: 1px;
}